* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75vh;
}

#options {
    display: flex;
}

.canvas-child {
    width: 20px;
    height:20px;
    background-color: black;
}